@primaryColor: green;
@secondaryColor: magenta;
@backgroundColor: #eee;
@foregroundColor: #000;
@invertColor: #fff;
@hoverColor: blue;
@idleColor: rgba(0,0,0,.5);
@placeholderColor: rgba(0,0,0,.3);
@warningColor: #d00;
@errorColor: #d00;
@borderColor: #999;

@sidebarColor: #555;
@sidebarSectionColor: #444;
@sidebarControlColor: #333;

@hoverColor: rgba(255, 255, 255, .1);